<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="styles/server-vendor.css" rel="stylesheet">
  </head>
  <body>
    <!-- TODO: Move styles to SCSS / class -->
    <style>

      .basis-error-container {
        margin: 7% auto 0;
        max-width: 500px;
      }

      .basis-error-container small {
        color: #777;
      }

    </style>
    <div class="basis-error-container">
      <h1 class="mdc-typography--display1"><%= status %>. <small><%= statusText %></small></h1>
      <h2 class="mdc-typography--body1"><%= message %></h2>
      <pre><%= error.stack %></pre>
    </div>
  </body>
</html>